<% include common/header %>
<h4><%- quiz_name %> Help Page</h4>
<div class="row-fluid">
    <div class="col-md-12">
        <p>
        If you need help with anything, you can call on following numbers:<br />
        <br />
        Kapeel (+91 9665884383)<br />
        </p>
    </div>
</div>
<% include common/footer %>