<% include common/header %>
<div class="row">
    <div class="page-header col-md-12">
        <div class="row-fluid">
        </div>
    </div>
</div>
<%
if( !can_solve ) {
%>
<div class="row">
    <div class="col-md-6">
        <div class="alert alert-warning">
            Your time is over.
        </div>
    </div>
</div>
<%
}
%>
<%
var statuses = {
    0: "<span class='text-success'><strong>Answered</strong></span>",
    1: "<span class='text-primary'><strong>Unanswered</strong></span>",
    2: "<span class='text-info'><strong>Answered & Marked for Review</strong></span>",
    3: "<span class='text-warning'><strong>Marked for Review</strong></span>"
}
for( var j = 0; j < sections.length; j++ ) {
  %>
      <div class="col-md-6">
        <h4>Section: <%= sections[ j ].name %></h4>
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th style="width:10%">#</th>
                      <th style="width:70%"><span class="glyphicon glyphicon-th"></span> Status</th>
                      <th style="width:20%"><span class="glyphicon glyphicon-time"></span> Link</th>
                  </tr>
              </thead>
              <tbody>
                  <%
                    for(var i=0; i<questions.length; i++) {
                      if( questions[ i ].section !== j ) {
                        continue;
                      }
                  %>
                      <tr>
                          <td><%= i+1 %></td>
                          <td><%- statuses[ questions[ i ].status ] %></td>
                          <td><a href="/questions/<%= i+1 %>" class="btn btn-primary btn-mini "><span class="glyphicon glyphicon-plane"></span> Visit</a></td>                             
                      </tr>
                  <% } %>

              </tbody>
          </table>
      </div>
  <%
}
%>
<% include common/footer %>
