<% include common/header %>
<div class="row-fluid">
    <div class="col-md-12">
        <div class="page-header" style="margin-top: 20px;">
          <h3>Welcome <%- name %>!</h3>
        </div>
        <p class="lead">
            <strong>Instructions:</strong><br />
            1. Use of internet is strictly prohibited.<br />
            2. Your time starts as soon as you hit the Start button below.<br />
            3. The duration of the exam is 3 hours (180 minutes).<br />
            4. There is no negative marking for any question. <br />
            5. One mark will be awarded for each correct answer in Physics and Chemistry section. <br />
            6. Two marks will be awarded for each correct answer in Mathematics section. <br />
            7. You can mark a question for review and check it on the All Questions. <br />
            8. If you finish before time, you can submit your exam to view your result.<br />
        </p>
        <form action="/start" method="post">
            <button class="btn btn-primary" href="/start"><span class="glyphicon glyphicon-send"></span> Start</button>
        </form>
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-6 col-md-offset-3">

    </div>
</div>
<% include common/footer %>
