<% include common/header %>
<div class="row-fluid">
    <div class="col-md-12">
        <div class="page-header" style="margin-top: 20px;">
          <h3>Welcome <%- name %>!</h3>
        </div>
        <p class="lead">
            <strong>Instructions:</strong><br />
            1. Use of internet is strictly prohibited.<br />
            2. Your time starts as soon as you hit the Start button below.<br />
            3. The duration for 1st round is 30 minutes.<br />
            4. Results of the first round will be displayed at 1 pm.<br />
            5. Top 20 participants from first round will be selected for 2nd round.<br />
            6. Good luck!
        </p>
        <form action="/start" method="post">
            <button class="btn btn-primary" href="/start"><span class="glyphicon glyphicon-send"></span> Start</button>
        </form>
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-6 col-md-offset-3">

    </div>
</div>
<% include common/footer %>
